body, html {
    margin: 0;
    padding: 0;
}

.header {
    font-family: Georgia;
    background-color: navy;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 65px;
    height: auto;
    border-radius: 50%;
}

.title h1 {
    margin: 0;
    font-size: 24px;
}

.main {
    display:flex;
}

.left {
    width:15%;
    height: 100vh;
    background-color: navy;
}

.mainbg {
    flex-grow:1;
    background-image: url("../Images/Login2.jpg");
    background-size: cover;
    background-position: center;
    justify-content: center;
    width:100vh;
    height: auto;
    padding-left: 19%;
    padding-top: 2%;
}

.sb {
    margin-top:5px;
    background-color:navy;
    color:white;
    font-size: 18px;
    font-family:Georgia;
    padding: 10px;
    text-align:left;
    height:fit-content;
    width:100%;
    border:0px;
}

.sb:hover{
    color:lightblue;
}

.f1 {
    padding: 20px;
    height: 75%;
    width: 80%;
    background-color: rgba(255,255,255,0.8);
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.2);
    justify-content: center;
}

.fh1 {
    font-size: 24px;
    font-family: Georgia;
    color: gray;
    text-align: center;
    margin: auto;
    width:fit-content;
    border-bottom:5px solid navy;
}

